:root {
  --base-color: #242424;
  --second-color: #b81d24;
  --second-color-darker: #93171d;
  --dark-color: #616161;
  --light-color: #c4c4c4;
  --font-color: #ececec;
  --items-per-screen: 7;
  --border-radius-btn: 0.5rem;
  --mrg-bot-hero: 1rem;
}
