.baner {
  position: relative;
  width: 100%;
  padding: 8rem 6rem;
  border-radius: 1rem;
  margin: 3.4rem 2rem 8rem 0;
  &__title {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 4.8rem;
    line-height: 3.9rem;
  }
  &__details {
    margin-bottom: 2.2rem;
  }
  &__overview {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 70rem;
    color: #d4d4d4;
    margin-bottom: 4rem;
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.75;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.644),
        rgba(0, 0, 0, 0.253)
      ),
      var(--background-image);
    @include breakpoint(desktop-sm) {
      width: calc(100% - 1rem);
    }
    @include breakpoint(large-tablet) {
      width: 100%;
    }
  }

  @include breakpoint(desktop-sm) {
    margin-bottom: 6rem;
  }
  @include breakpoint(tablet) {
    padding: 6rem 4rem;
  }
}
