.baner {
  position: relative;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 3rem;
  border-radius: 1rem;
  margin: 3.4rem 2rem 8rem 0;
  transition: all 0.9s ease-in-out;

  &__box {
    margin: 0 6rem 4rem 6rem;
    @include breakpoint(tablet) {
      margin: 0 3rem 4rem;
    }
    @include breakpoint(mobile) {
      margin: 0 1.6rem 4rem;
    }
  }
  &__title {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 2.8rem;
    line-height: 3.9rem;
    @include breakpoint(tablet) {
      font-size: 3rem;
    }
  }
  &__details {
    margin-bottom: 2.2rem;
  }
  &__overview {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 70rem;
    color: #d4d4d4;
  }
  &__slider {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    gap: 0.8rem;
    @include breakpoint(desktop-sm) {
      margin-right: 2rem;
    }
    @include breakpoint(mobile) {
      justify-content: start;
      margin: 0;
      gap: 0;
      overflow-x: scroll;
      white-space: nowrap;
    }
  }

  &__poster {
    width: 10rem;
    height: 15rem;
    filter: brightness(0.3);
    @include breakpoint(tablet) {
      width: 8.5rem;
      height: 12rem;
    }
    @include breakpoint(mobile) {
      margin-left: 0.6rem;
    }
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.75;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.644),
        rgba(0, 0, 0, 0.253)
      ),
      var(--background-image);

    @include breakpoint(desktop-sm) {
      width: calc(100% - 1rem);
    }
    @include breakpoint(large-tablet) {
      width: 100%;
    }
  }

  @include breakpoint(desktop-sm) {
    margin-bottom: 6rem;
  }
  @include breakpoint(tablet) {
    padding-top: 3rem;
  }
}
.animated {
  animation: fadeIn 1s;
}
.active {
  transition: all 0.4s;
  filter: brightness(3.2);
  transform: translateY(-1rem);
  @include breakpoint(tablet) {
    transform: translateY(-0.5rem);
  }
}
