.baner {
  position: relative;
  width: 100%;
  padding: 8rem;
  border-radius: 1rem;
  margin-right: 2rem;
  margin-bottom: 4rem;

  &__title {
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 1.8rem;
    line-height: 3.9rem;
  }
  &__details {
    margin-bottom: 1.4rem;
  }
  &__overview {
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 70rem;
    color: #d4d4d4;
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    height: 100%;
    border-radius: 1rem;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.644),
        rgba(0, 0, 0, 0.253)
      ),
      var(--background-image);
  }
}
