body {
  background-color: black;
  color: #ececec;
}
.container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.block {
  display: block;
}
.hidden {
  display: none !important;
}
.ionicon-star {
  width: 1.6rem;
  color: #e7bf0d;
  margin-right: 0.4rem;
}

