body {
  background-color: black;
  color: #ececec;
}
.container {
  display: flex;
  overflow: hidden;
  width: 100%;
}
.ionicon-star {
  width: 18px;
  fill: yellow;
  color: yellow;
}
.main-box {
  width: 100%;
}
