body {
  background-color: #000;
  color: var(--font-color);
}
.container {
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}
.block {
  display: block;
}
.hidden {
  display: none !important;
}
.opacity-none {
  opacity: 0;
  visibility: hidden;
}
.ionicon-star {
  width: 1.6rem;
  color: #e7bf0d;
  margin-right: 0.4rem;
}
