.genres {
  padding-left: 3.4rem;
  padding-right: 6rem;
  top: 0;
  position: sticky;

  &__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
  }
  &__list-item {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    color: #d4d4d4bb;
  }
  &__link {
    padding: 0.2rem 2rem 0.2rem 0;
    display: block;
    &:hover,
    &:active {
      color: var(--font-color);
    }
  }
  &__link--active {
    color: var(--font-color) !important;
  }
  @include breakpoint(desktop) {
    padding-right: 3rem;
  }
}
