.genres {
  background-color: #000;
  padding: 3.4rem 6rem 3.4rem 3.4rem;
  align-self: flex-start;
  position: relative;
  z-index: 500;
  transition: all 0.4s ease-in-out;

  &__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
  }
  &__list-item {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
    color: #d4d4d4bb;
  }
  &__link {
    padding: 0.2rem 2rem 0.2rem 0;
    display: block;
    &:hover,
    &:active {
      color: var(--font-color);
    }
  }
  &__link--active {
    color: var(--font-color) !important;
  }
  &__icon {
    background-color: #000000c7;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 4rem;
    left: 0;
    cursor: pointer;
    // border: 1px solid #a5a5a5;
    z-index: 1500;
    opacity: 0;
    transition: all 0.3s 0.2s;
    color: #a5a5a5;
  }
  @include breakpoint(desktop) {
    padding-right: 3rem;
  }
  @include breakpoint(desktop-sm) {
    padding: 3.4rem 1.6rem 9rem 2rem;
  }
  @include breakpoint(large-tablet) {
    position: fixed;
    overflow-y: auto;
    height: 100%;
    transform: translateX(-100%);
    &__icon {
      opacity: 1;
    }
  }
}
.show {
  transform: translateX(0%);
}
.left-chevron {
  opacity: 1;
  transform: translateX(17rem);
}
