.header {
  display: flex;
  position: sticky;
  width: 100%;
  height: 6.5rem;
  top: 0;
  padding: 1.8rem 3.4rem;
  z-index: 2200;
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  border-bottom: 2px solid rgba(59, 59, 59, 0.473);

  &__logo-box {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  &__logo-img {
    width: 3.4rem;
    height: 3.4rem;
  }
  &__name {
    font-size: 3.4rem;
    font-weight: 600;
    color: var(--font-color);
  }
  &__form {
    display: flex;
    background-color: var(--dark-color);
    align-items: center;
    border-radius: var(--border-radius-btn);
    transition: box-shadow 0.4s ease-in-out;
    &:hover,
    &:focus-within {
      box-shadow: 0 0 0 1.8px #a7a7a7;
    }
  }
  &__form-edit {
    width: 100%;
  }
  &__input {
    width: 100%;
    padding: 0.8rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-color);
    &::placeholder {
      color: var(--light-color);
    }
    @include breakpoint(mobile) {
      width: 0px;
      padding: 0.8rem 0;
    }
  }
  &__input-edit {
    width: 100%;
    padding: 0.8rem 1.4rem;
  }
  &__search-btn {
    margin: 0 1rem;
    padding: 0.2rem 0.2rem 0 0.2rem;
    border: none;
    background-color: var(--dark-color);
    fill: var(--light-color);
    &:hover {
      cursor: pointer;
    }
    @include breakpoint(tablet) {
      margin: 0 0.6rem;
    }
  }

  &__icon {
    width: 2.2rem;
    height: 2.2rem;
    color: var(--light-color);
  }
  @include breakpoint(desktop-sm) {
    padding: 1.2rem;
  }
}
