.hero {
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 14rem;
  margin-bottom: 6rem;
  margin-top: 3.4rem;

  &__movie-data {
    max-width: 70rem;
    margin-right: 2.2rem;
  }
  &__img {
    max-width: 20%;
    min-width: 24rem;
    height: 100%;
    margin-right: 3rem;
    border-radius: 0.8rem;
    margin-left: 1rem;
  }
  &__title {
    margin-top: 0.6rem;
    font-size: 3.8rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  &__details {
    display: flex;
    align-items: center;
    margin-bottom: var(--mrg-bot-hero);
    & > svg {
      transform: translateY(-0.9px);
      width: 1.4rem;
    }
  }
  &__year {
    font-size: 1.4rem;
    margin-right: 2rem;
    padding: 0.5rem;
    background-color: #3b3846;
    border-radius: var(--border-radius-btn);
  }
  &__vote {
    font-size: 1.4rem;
  }
  &__overview {
    font-size: 1.6rem;
    margin-bottom: 2.2rem;
    line-height: 2.1rem;
  }
  &__genres {
    margin-bottom: var(--mrg-bot-hero);
    font-size: 1.6rem;
    color: #a0a0a0;
  }
  &__sm-header {
    color: #a0a0a0;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }
  &__bottom-paragraph {
    font-size: 1.6rem;
    margin-bottom: var(--mrg-bot-hero);
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0.75;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0.253)
      ),
      var(--background-image);
  }
}
