.lists {
  justify-content: center;
  overflow: hidden;
  &__section-name {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
    font-weight: 500;
  }
  &__list {
    width: calc(100vw - 204px);
    position: relative;
    display: flex;

    @media (max-width: 1000px) {
      --items-per-screen: 3;
    }

    @media (max-width: 500px) {
      --items-per-screen: 2;
    }
  }
  &__item {
    transition: transform 250ms ease-in-out;
    flex: 0 0 calc(100% / var(--items-per-screen) + 0.2rem);
    padding-right: 1.2rem;
  }
  &__poster {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 0.8rem;
  }
  &__title {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
  &__btn {
    z-index: 10;
    background-color: #f2f2f2d0;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 1000px;
    display: flex;
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &__bottom-box {
    display: flex;
    align-items: center;
  }
  &__rate {
    font-size: 1.6rem;
    color: #999999;
  }
}
.btn-next {
  right: 0;
}
.ionicon-star {
  width: 16px;
  color: #e7bf0d;
  margin-right: 0.4rem;
}
