.lists {
  justify-content: center;
  overflow: hidden;
  animation: 1.8s fadeIn ease-in-out;

  &__section-name {
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 500;
  }
  &__list {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 8rem;
  }
  &__item {
    flex: 0 0 calc(100% / var(--items-per-screen));
    padding-right: 1rem;
    transition: transform 250ms ease-in-out;
  }
  &__poster {
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
    border-radius: 0.8rem;
  }
  &__title {
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
  }
  &__btn {
    display: flex;
    position: absolute;
    top: 45%;
    padding: 0.7rem;
    margin: 0.5rem;
    z-index: 10;
    border: none;
    background-color: #a5a5a5d0;
    cursor: pointer;
    border-radius: 1000px;
    transform: translateY(-50%);
  }
  &__icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &__bottom-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon-rate-box {
    display: flex;
    align-items: center;
  }
  &__rate {
    font-size: 1.6rem;
    color: #999999;
  }
  &__year {
    @include yearSpanStyle();
    margin-right: 0;
    font-size: 1.3rem;
  }
  @include breakpoint(desktop) {
    --items-per-screen: 6;
  }
  @media (max-width: 1276px) {
    --items-per-screen: 5;
  }
  @include breakpoint(desktop-sm) {
    --items-per-screen: 4;
  }

  @include breakpoint(large-tablet) {
    margin-left: 1rem;
  }
  @include breakpoint(tablet) {
    --items-per-screen: 3;
  }
  @include breakpoint(mobile) {
    --items-per-screen: 2;
  }
}
.btn-next {
  right: 0;
  margin-right: 1.5rem;
}
