.search {
  display: grid;
  position: fixed;
  width: 100%;
  height: auto;
  max-height: calc(100% - 6.5rem);
  min-height: 20%;
  top: 6.5rem;
  left: 50%;
  z-index: 2000;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  justify-content: center;
  overflow-y: scroll;
  padding: 2rem 0;
  padding-left: 3.6rem;
  background-color: #000;
  transform: translateX(-50%);
  transition: all 0.4s ease-in-out;

  @media screen and (min-width: $large-tablet) {
    &::-webkit-scrollbar-track {
      background-color: #000;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #888;
    }
    &::-webkit-scrollbar-thumb:hover {
      background-color: #555;
    }
  }

  &--no-results {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: none;
  }
  @include breakpoint(large-tablet) {
    padding-left: 1rem;
    grid-template-columns: 1fr;
  }
  &__item {
    display: flex;
    margin-bottom: 1rem;
    margin-right: 3rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateX(1.5rem);
    }
  }
  &__poster {
    width: 7rem;
    height: 10rem;
  }

  &__movie-title {
    margin-left: 1.2rem;
    align-self: center;
    font-size: 1.6rem;
  }
  &__icon {
    position: fixed;
    height: 2.8rem;
    width: 2.8rem;
    top: 8.1rem;
    right: 0;
    z-index: 2100;
    margin: 1rem 0;
    margin-right: 3rem;
    cursor: pointer;
    color: #a5a5a5;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    @include breakpoint(tablet) {
      margin-right: 1.6rem;
    }
  }
}
