.search {
  background-color: #000;
  position: absolute;
  top: 7.8rem;
  z-index: 2000;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;

  &__item {
    display: flex;
    margin-bottom: 1rem;
  }
  &__poster {
    width: 8rem;
  }

  &__movie-title {
    margin-left: 1.2rem;
    align-self: center;
    font-size: 1.8rem;
  }
}
