.search {
  background-color: #000;
  position: absolute;
  top: 7.8rem;
  z-index: 2000;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  height: auto;
  // max-height: calc(100% - 7.8rem);
  min-height: 20%;
  overflow-y: hidden;
  width: 100%;
  transition: all 0.4s ease-in-out;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;

  padding-left: 3.6rem;
  @include breakpoint(large-tablet) {
    padding-left: 1rem;
    grid-template-columns: 1fr;
  }
  &__item {
    display: flex;
    margin-bottom: 1rem;
    margin-right: 3rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: translateX(1.5rem);
    }
  }
  &__poster {
    width: 7rem;
    height: 10rem;
  }

  &__movie-title {
    margin-left: 1.2rem;
    align-self: center;
    font-size: 1.6rem;
  }
  &__icon {
    margin: 1rem 0;
    margin-right: 3rem;
    cursor: pointer;
    height: 2.8rem;
    width: 2.8rem;
    position: absolute;
    color: #a5a5a5;
    right: 0;
    top: 8.1rem;
    z-index: 2600;
    transition: all 0.4s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    @include breakpoint(tablet) {
      margin-right: 1.6rem;
    }
  }
}
